
/* *****************************************************************
TOOLS
***************************************************************** */

/* Box sizing */
* {
	box-sizing: border-box;
}

/* 1rem = 10px */
html {
	font-size: 62.5%;
}

/* Body */
body {
	font-size: 1.6rem;
}

/* Main container */
.container {
	width: auto;
	max-width: 960px;
	margin: 0 auto;
}


/* *****************************************************************
GENERALITIES
***************************************************************** */

body {
	margin: 0;
	padding: 0;

}
main {
	padding: 1,6rem;

}

img {
	height: 20em;
}

.phototheque{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 20%;
    margin: auto;
}

.phototheque img {
    max-width: 220px;
    max-height: 150px;
    margin: 10px;
}

.phototheque figcaption {
    color: #222;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.menu li{
	list-style-type: none;
}

a{
	text-decoration:none;
}



.main-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-logo a{
	width:auto;
	height:auto;
}

.welcome, 
.main-content{
	background-color :#d0b5a3;
}

.main-content article{
	background-color :#ece4dc;
}

.login{
	text-align:right;
}

.menu{
	display:flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.menu li{
	list-style-type: none;
}

.slide{
	display :flex;
	flex-wrap :nowrap;
	justify-content :space-around;
}

.slide img{
	width: 30%;
	height: 20em;
}


/* *****************************************************************
ACCESSIBILITY
***************************************************************** */

@media screen and (min-width: 480px) {

}

@media screen and (min-width: 960px) {

}

/* *****************************************************************
RESPONSIVE FLOAT
***************************************************************** */

@media screen and (min-width: 960px) {

}

/* *****************************************************************
RESPONSIVE DISPLAY
***************************************************************** */


@media screen and (min-width: 480px) {

}
@media screen and (min-width: 960px) {

}
@media screen and (max-width: 480px) {

}
@media screen and (max-width: 960px) {

}

/* *****************************************************************
FORM
***************************************************************** */

fieldset {
	margin: 2em 0;
	padding: 1em;
	font-size: 1.6rem;
	background-color: #d0b5a3;
	border: 0;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.hidden {
  display: none;
}

.active {
  display: block;
}


/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* *****************************************************************
BUTTON
***************************************************************** */

/* *****************************************************************
MENU
***************************************************************** */

/* *****************************************************************
MODAL
***************************************************************** */


/* *****************************************************************
MAIN
***************************************************************** */


/* *****************************************************************
FOOTER
***************************************************************** */

/* *****************************************************************
PRODUCT
***************************************************************** */

